# .gitignore

# Environment variables
.env
env.sh

# Python
*.py[oc]
__pycache__/
*.egg-info
.eggs/
.mypy_cache/*
.pyre/
.pytest_cache/
.ruff_cache/
.dmypy.json
.venv/

# Databases
*.db

# Build artifacts
build/
dist/
*.so
out*/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# mujoco wasm setup
!frontend/public/dist
!/frontend/public/node_modules/three/build
