.SearchInput {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  width: 50%;
}

.SearchInput:focus-within {
  box-shadow: 0 0 0 2px blue;
}

.Icon {
  margin-left: 0.3em;
  filter: opacity(50%);
}

.SearchInput:focus-within .Icon {
  filter: opacity(100%);
}

.SearchInput .Input {
  border: none;
  overflow: hidden;
  background-color: transparent;
}

.SearchInput .Input:focus {
  box-shadow: none;
}
