# requirements-dev.txt

# Linting
black
darglint
mypy
ruff

# Testing
pytest
pytest-aiomoto
pytest-aiohttp
pytest-asyncio
pytest-mock
pytest-timeout
pytest-trio
moto[dynamodb,ec2,s3,all]

# Types
types-aioboto3[dynamodb]
