# requirements.txt

# Standard dependencies.
omegaconf
bson
pydantic

# AWS dependencies.
boto3

# FastAPI dependencies.
aiohttp
aiosmtplib
fastapi
pyjwt
python-multipart

# Deployment dependencies.
uvicorn[standard]
