# requirements-dev.txt

# Linting
black
darglint
mypy
ruff

# Testing
pytest
pytest-aiohttp
pytest-asyncio
pytest-mock
pytest-timeout
pytest-trio

# Types
boto3-stubs[dynamodb]
types-aioboto3[essential]
