# .ebextensions/01_fastapi.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "store.app.main:app"

# Commented out because we don't have a database yet
# container_commands:
#   01_initdb:
#     command: "source /var/app/venv/*/bin/activate && python3 init_db.py"
#     leader_only: true
