.buttonStyle {
  padding: 0.625rem 1.25rem; /* py-2.5 and px-5 */
  margin-right: 0.5rem; /* me-2 */
  margin-bottom: 0.5rem; /* mb-2 */
  font-size: 0.875rem; /* text-sm */
  font-weight: medium; /* font-medium */
  color: #1f2937; /* text-gray-900 */
  background-color: #ffffff; /* bg-white */
  border-radius: 0.5rem; /* rounded-lg */
  border: 1px solid #e5e7eb; /* border-gray-200 */
  outline: none; /* focus:outline-none */
  transition:
    background-color 0.3s,
    color 0.3s; /* For hover effects */
}

.buttonStyle:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 */
  color: #1d4ed8; /* hover:text-blue-700 */
}

.buttonStyle:focus {
  z-index: 10; /* focus:z-10 */
  box-shadow: 0 0 0 4px #f3f4f6; /* focus:ring-4 focus:ring-gray-100 */
}

.dark .buttonStyle {
  background-color: #1f2937; /* dark:bg-gray-800 */
  color: #9ca3af; /* dark:text-gray-400 */
  border-color: #4b5563; /* dark:border-gray-600 */
}

.dark .buttonStyle:hover {
  color: #ffffff; /* dark:hover:text-white */
  background-color: #374151; /* dark:hover:bg-gray-700 */
}

.dark .buttonStyle:focus {
  box-shadow: 0 0 0 4px #374151; /* dark:focus:ring-gray-700 */
}
