@tailwind base;
@tailwind components;
@tailwind utilities;

div.content {
  margin-top: 16px;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  div.row-two {
    gap: 16px;
  }
}

a.link {
  color: #0d6efd;
  text-decoration: underline;
}

a.link:hover {
  text-decoration: none;
}

html,
body {
  word-wrap: break-word;
  font-family: "Manrope", sans-serif;
}

form {
  max-width: 500px;
}

form textarea {
  height: 10rem;
}

form button {
  width: 100%;
}

div.card {
  height: 100%;
}

p.card-text {
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  body {
    @apply text-gray-1;
  }
}
