div.content {
  margin-top: 16px;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  div.row-two {
    gap: 16px;
  }
}

html,
body {
  transition: color 0.1s ease;
  word-wrap: break-word;
}

form {
  max-width: 500px;
}

form textarea {
  height: 10rem;
}

form button {
  width: 100%;
}

div .card {
  max-height: 460px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

p .card-text {
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
