div.content {
  margin-top: 16px;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  div.row-two {
    gap: 16px;
  }
}

body {
  transition: color 0.3s ease;
}

body * {
  transition: inherit;
}