body.dark {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

body.light {
  background-color: #f8f9fa !important;
  color: #000000 !important;
}

img[src$=".png"] {
  filter: none !important;
}
body.dark-mode img.no-dark-mode {
  filter: none !important;
}

.navbar {
  width: 100% !important;
  margin: 0;
  padding: 5px;
}
